// Header
nav {
	background-color: $grey900;
	display: block;
	padding: .5em 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 40;

	a {
		margin-left: 1em;
		color: $white;
		font-size: 1.3em;
		font-weight: 500;
		text-transform: uppercase;

		&:link, &:active {
			text-decoration: none;
		}

		&:hover, &:active {
			color: $white;
		}
	}
}

main {
	padding-top: 4em;
}
