/*RESET STYLES*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 RESETS FOR OLDER BROWSERS */
article, aside, figure, figure img, hgroup, footer, header, nav, section {
  display: block; }

/*ol, ul { list-style: none; }*/
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, select {
  vertical-align: middle; }

a img {
  border: 0; }

:focus {
  outline: 0; }

a:hover, a:active {
  outline: none; }

nav {
  background-color: #212121;
  display: block;
  padding: .5em 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40; }
  nav a {
    margin-left: 1em;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
    text-transform: uppercase; }

main {
  padding-top: 4em; }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  display: block;
  background-color: #2196F3;
  position: absolute;
  height: 500px;
  width: 100%; }

.item:nth-child(0) {
  background-color: #2196F3; }
.item:nth-child(1) {
  background-color: #42A5F5; }
.item:nth-child(2) {
  background-color: #2196F3; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  height: 600px;
  z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px; }

/* CUSTOMIZE THE SIGN-UP FIELD
-------------------------------------------------- */
#sign-up {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  padding: 1em;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 40; }
  #sign-up button {
    color: #fff;
    border: 0;
    font-weight: 600;
    font-size: 1.3em;
    text-transform: uppercase;
    border-radius: .5em;
    padding: .5em 2em;
    display: block;
    position: relative;
    margin: 0 auto .5em auto;
    background-color: #0D47A1; }
  #sign-up a {
    font-size: .9em; }

.interest {
  display: block;
  border: 0;
  border-radius: .5em;
  position: relative;
  background: url(../images/signup-food.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  height: 120px; }
  .interest::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
